[Unit]
Description=Stallwart mail server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/stalwart --config /etc/stalwart/config.json
User=stallwart
Group=stallwart
Restart=on-failure

[Install]
WantedBy=multi-user.target
